[data-mindback-visibility-hidden="true"] {
  visibility: hidden !important;
}

[data-mindback-display-none="true"] {
  display: none !important;
}

[data-mindback-youtube-hide-home-feed="true"]
  .ytd-page-manager[page-subtype="home"] {
  display: none !important;
}
